<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Cloudam.sys.dao.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.Cloudam.sys.entity.Log">
        <id column="id" property="id" />
        <result column="content" property="content" />
        <result column="type" property="type" />
        <result column="loginname" property="loginname" />
        <result column="userid" property="userid" />
        <result column="loginip" property="loginip" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, content, type, loginname, userid, loginip, createtime
    </sql>

</mapper>
