<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/dtree.css" media="all" />
    <link rel="stylesheet" href="/resources/layui_ext/dtree/font/dtreefont.css" media="all" />
</head>
<body class="childrenBody">
<!-- 查询条件开始-->
<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <form class="layui-form" id="searchForm">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">用户名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="loginname" id="search_loginName" class="layui-input searchVal" placeholder="请输入用户名称" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">真实名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" id="search_name" class="layui-input searchVal" placeholder="请输入真实名称" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="startTime" id="startTime" class="layui-input searchVal" readonly placeholder="开始时间" />
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-inline">
                        <input type="text" name="endTime" id="endTime" class="layui-input searchVal" readonly placeholder="结束时间" />
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="text-align: center;">
                    <button type="button" class="layui-btn">
                        <span class="layui-icon layui-icon-search"></span>查询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-warm" id="resetSearch">
                        <span class="layui-icon layui-icon-refresh-1"></span>重置
                    </button>
                </div>
            </div>
        </form>
    </blockquote>
</form>
<!-- 查询条件结束-->


<!-- 数据表格开始 -->
<div>
    <table class="layui-hide" id="userTable" lay-filter="userTable"></table>
    <!-- 工具栏 -->
    <div id="userToolBar" style="display: none;">
        <button type="button" lay-event="add" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-add-1"></span>添加用户</button>
    </div>

    <div id="userRowBar" style="display: none;">
        <button type="button" lay-event="update" class="layui-btn layui-btn-sm">
            <span class="layui-icon layui-icon-edit"></span>更新
        </button>
        <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger">
            <span class="layui-icon layui-icon-delete"></span>删除
        </button>
        <button type="button" lay-event="resetPwd" class="layui-btn layui-btn-sm">
            <span class="layui-icon layui-icon-refresh"></span>重置密码
        </button>
        <button type="button" lay-event="selectRole" class="layui-btn layui-btn-sm layui-btn-warm">
            <span class="layui-icon layui-icon-edit"></span>分配角色
        </button>
    </div>
</div>
<!-- 数据表格结束 -->

<!-- 添加和修改的弹出层开始 -->

<div  style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form class="layui-form" style="width:90%;" id="dataFrm" lay-filter="dataFrm">
        <!-- 隐藏域，保存用户id -->
        <input type="hidden" name="id" id="id">
        <div class="layui-form-item">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-block">
                <!-- 隐藏域：保存选中部门的节点id -->
                <input type="hidden" name="deptid" id="deptid">
                <ul id="deptTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">领导部门</label>
            <div class="layui-input-block">
                <ul id="mgrTree" class="dtree" data-id="0"></ul>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">直属领导</label>
            <div class="layui-input-block">
                <select name="mgr" id="mgr">
                    <option value="0">请选择直属领导</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户姓名</label>
                <div class="layui-input-block">
                    <input type="text" name="name" id="name" lay-verify="required" autocomplete="off" placeholder="请输入用户姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">登陆名称</label>
                <div class="layui-input-block">
                    <input type="text" name="loginname" id="loginname" lay-verify="required"  autocomplete="off" placeholder="请输入登陆名称" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户地址</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="required" autocomplete="off" placeholder="请输入用户地址" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="remark" id="content"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">用户性别</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="1" title="男" checked="">
                    <input type="radio" name="sex" value="0" title="女" >
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否可用</label>
                <div class="layui-input-block">
                    <input type="radio" name="available" value="1" title="是" checked="">
                    <input type="radio" name="available" value="0" title="否" >
                </div>
            </div>
        </div>

        <div class="layui-form-item layui-row layui-col-xs12">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit lay-filter="doSubmit"><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="button" class="layui-btn layui-btn-warm" ><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>

<!-- 添加和修改的弹出层结束 -->

<!-- 用户分配角色弹出层  开始 -->
<div style="display: none;padding: 5px" id="selectUserRoleDiv">
    <table class="layui-hide" id="roleTable" lay-filter="roleTable"></table>
</div>
<!-- 用户分配角色弹出层  结束 -->



<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">

    var tableIns;
    layui.extend({
        dtree: '/resources/layui_ext/dtree/dtree'   // {/}的意思即代表采用自有路径，即不跟随 base 路径
    }).use(['jquery','form','table','layer','dtree','laydate'],function () {
        var $=layui.jquery;
        var form=layui.form;
        var table=layui.table;
        var layer=layui.layer;
        var dtree = layui.dtree;
        var laydate = layui.laydate;
        //初始化时间选择器
        laydate.render({
            elem:'#startTime',//绑定渲染的元素
            type:'datetime'//控件选择类型
        });
        laydate.render({
            elem:'#endTime',//绑定渲染的元素
            type:'datetime'//控件选择类型
        });

        //渲染数据
        tableIns = table.render({
            elem: '#userTable'
            ,url:'/sys/user/userlist'
            ,toolbar:'#userToolBar'
            ,title:'部门数据表'
            ,height: 'full-110'
            ,page: true
            ,cols: [ [
                {type:'checkbox',align:'left'}
                ,{field:'id',title:'ID',align: 'center',width : 60}
                ,{field:'username',title:'用户名',align: 'center',width : 120}
                ,{field:'name',title:'真实姓名',align: 'center',width : 120}
                ,{field:'sex',title:'性别',align: 'center',templet:function (d) {
                        return d.open == 1 ? "<font color='#00bfff'>男</font>" : "<font color='red'>女</font>";
                    }}
                ,{field:'deptName',title:'部门名称',align: 'center',width : 180}
                ,{field:'mgrName',title:'直接领导',align: 'center',width : 180}
                ,{field:'address',title:'地址',align: 'center',width : 180}
                ,{field:'hiredate',title:'入职时间',align: 'center',width : 180}
                ,{field:'right',title:'操作',align: 'center',toolbar:"#userRowBar",width : 200}
            ] ]
            ,done:function (res,curr,count) {
                //非第一页，当前页无数据
                if(curr>1 && res.data.length == 0){
                    //当前页码-1
                    var pageValue = curr - 1;
                    tableIns.reload({
                        page:{curr:pageValue}   //修改页码
                    });
                }
            }
        });
        //监听模糊查询按钮提交事件
        form.on("submit(doSearch)",function (data) {
            tableIns.reload({
                where:data.field,
                page:{
                    curr:1
                }
            });
        });
        //监听数据表格工具栏事件
        table.on("toolbar(userTable)",function (obj) {
           switch (obj.event) {
                case 'add':
                    //调用打开添加用户窗口的方法
                   openAddUserLayer();
                   break;
           };
        });
        //监听行工具栏事件
        table.on("tool(userTable)",function (obj) {
            //获取当前行的数据
            var data = obj.data;
            switch (obj.event) {
                case 'update':
                    //调用打开添加用户窗口的方法
                   openUpdateUserWindow(data);
                   break;
                case 'delete':
                    //调用打开添加用户窗口的方法
                   deleteInfo(data);
                   break;
                case 'resetPwd':
                    //调用打开添加用户窗口的方法
                    resetPwd(data);
                   break;
                case 'selectRole':
                    //调用打开添加用户窗口的方法
                   openUpdateUserWindow(data);
                   break;
           };
        });

        var mainIndex;//弹出层索引
        var url;      //提交路径

        //打开添加用户窗口的方法
        function openAddUserLayer(){
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),   //引用的内容窗口
                area:["800px","500px"],
                title:'添加用户',
                success:function () {
                    $("#dataFrm")[0].reset();
                    $("#deptid").val("");
                    url = "/sys/user/addUser";
                    $("#loginname").removeAttr("readonly");
                }
            })
        }

        //打开修改窗口
        function openUpdateUserWindow(data) {
            mainIndex = layer.open({
                type:1,
                title:"更新用户",
                area:["800px","500px"],
                content:$("#addOrUpdateDiv"),//引用的内容窗口
                success:function () {
                    //表单数据回显
                    form.val("dataFrm",data);
                    //树节点回显
                    dtree.dataInit("deptTree",data.deptid);//部门编号
                    dtree.setSelectValue("deptTree");
                    //添加的提交请求
                    url = "/sys/user/updateUser";
                    //设置用户名为只读
                    $("#loginname").attr("readonly","readonly");
                    //解绑
                    $("#loginname").unbind("blur");

                    //回显领导所属部门
                    var mgrId = data.mgr   //1.获取ID
                    $.get("/sys/user/loadUserById",{"id":mgrId},function (result) {
                        //获取部门数据
                        var data = result.data;
                        //选中部门
                        dtree.dataInit("mgrTree",data.deptid);
                        dtree.setSelectValue("mgrTree");

                        //选中直属领导
                        //根据选中部门id查询该部门下的员工列表
                        $.get("/sys/user/loadUserByDeptId",{"deptId":data.deptid},function (result) {
                            //获取用户列表
                            var userList = result.data;
                            //拼接下拉列表
                            var html = "<option value=''>请选择直属领导</option>";
                            //循环用户列表
                            for(var i=0;i<userList.length;i++){
                                html += "<option value='"+userList[i].id+"'>"+userList[i].name+"</option>"
                            }
                            //拼接
                            $("#mgr").html(html);
                            //数据回显
                            $("#mgr").val(mgrId);
                            //重新渲染下拉列表
                            form.render("select");
                        },"json");
                    },"json");
                }
            });
        }
        
        //打开删除窗口
        function deleteInfo(data) {
            layer.confirm("确定要删除【<font color='red'>"+data.name+"】</font>吗？",{"icon":3,"title":"提示"},function (index) {
                $.post("/sys/user/deleteById",{"id":data.id},function (result) {
                    if(result.success){
                        tableIns.reload();
                    }
                    layer.msg(result.message);
                },"json")
                //关闭弹窗
                layer.close(index);
            });
        }

        //打开重置密码
        function resetPwd(data) {
            layer.confirm("确定要重置【"+data.name+"】的密码吗？",{"icon":3,"title":"提示"},function (index) {
                $.post("/sys/user/resetPwd",{"id":data.id},function (result) {
                    if(result.success){
                        tableIns.reload();
                    }
                    layer.msg(result.message);
                },"json")
                //关闭弹窗
                layer.close(index);
            });
        }
        
        //初始化父级部门的下拉菜单树
        var deptTree = dtree.renderSelect({
            elem:"#deptTree", //根据ID进行绑定
            width:"100%",
            dataStyle:"layuiStyle",
            response:{message:"msg",statusCode:0},
            dataFormat:"list",
            url:"/sys/dept/loadDeptTreeLeft"
        });

        //监听点击的方法
        dtree.on("node(deptTree)",function (obj) {
            $("#deptid").val(obj.param.nodeId);
        });

        //初始化直属领导的下拉菜单树
        var deptTree = dtree.renderSelect({
            elem:"#mgrTree", //根据ID进行绑定
            width:"100%",
            dataStyle:"layuiStyle",
            response:{message:"msg",statusCode:0},
            dataFormat:"list",
            url:"/sys/dept/loadDeptTreeLeft"
        });

        //监听点击的方法
        dtree.on("node(mgrTree)",function (obj) {
            //获取用户选中的部门ID
            var deptId = obj.param.nodeId;
            //AJAX发送请求
            $.post("/sys/user/loadUserByDeptId",{"deptId":deptId},function (result) {
                //获取用户下拉列表
                var userList = result.data;
                //拼接下拉列表？
                var html = "<option value=''>请选择直属领导</option>"
                //循环用户列表
                for(var i = 0;i<userList.length;i++){
                    html +="<option value='"+userList[i].id+"'>"+userList[i].name+"</option>"
                }
                //拼接
                $("#mgr").html(html);
                //重新渲染
                form.render("select");
            },"json")
        });

        //用户名是否存在
        var checkFlag = false;

        //绑定登录名称失去焦点事件
        $("#loginname").bind("blur",function () {
            var loginName = $(this).val().trim();
            if(loginName.length == 0){
                layer.msg("登录名称不能为空");
                return;
            }
            $.post("/sys/user/checkLoginName",{"loginName":loginName},function (result) {
                if(result.exist){
                    checkFlag = true;
                }else{
                    checkFlag = false;
                }
                //弹框提示
                layer.msg(result.message);
            },"json");
        })

        //提交事件  需要判断
        form.on("submit(doSubmit)",function (data) {
            if(!checkFlag){
                $.post(url,data.field,function (result) {
                    if(result.success){
                        tableIns.reload();  //刷新数据
                    }
                    //弹框提示
                    layer.msg(result.message);
                    //关闭弹窗
                    layer.close(mainIndex);
                },"json");
            }else{
                layer.msg("登录名称已存在,请重新输入！")
            }
        });

    });
</script>
</body>
</html>